{% extends 'admin/base.html' %}

{% block title %}
    {{ super() }}-菜单管理
{% endblock %}

{% block inner_content %}
    <ul id="tab" class="nav nav-tabs">
        <li class="active"><a href="{{ url_for('admin.menu') }}">菜单列表</a></li>
        <li><a href="{{ url_for('admin.menu_add') }}">添加菜单</a></li>
    </ul>
    <table class="table table-hover">
        <thead>
        <tr>
            <th width="80">ID</th>
            <th>菜单名称</th>
            <th>模块</th>
            <th width="120">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.module }}</td>
                <td>
                    <a href="{{ url_for('admin.menu_edit', id=menu.id) }}">编辑</a>
                    <a href="{{ url_for('admin.menu_delete', id=menu.id) }}" class="js-del-confirm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}