{% extends 'common/base.html' %}
{% import 'exam/question/item.html' as item %}

{% block title %}问题分类-{{ category.name }}{% endblock %}

{% block inner_content %}
    {% for question in category.questions %}
        <div class="row">
            <a href="{{ url_for('exam.question.view', id=question.id) }}">
                <h4>{{ question.title }}</h4>
            </a>
            <p>{{ question.description }}</p>

{#            {{ item.generate(question) }}#}
        </div>
    {% endfor %}
{% endblock %}