{% extends 'admin/base.html' %}

{% block title %}
    {{ super() }}-用户管理
{% endblock %}

{% block inner_content %}
    <ul id="tab" class="nav nav-tabs">
        <li class="active"><a href="{{ url_for('user_admin.index') }}">用户列表</a></li>
        <li><a href="{{ url_for('user_admin.add') }}">添加用户</a></li>
    </ul>
    <table class="table table-hover">
        <thead>
        <tr>
            <th width="80">ID</th>
            <th>用户名</th>
            <th>是否管理员</th>
            <th width="120">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.is_admin }}</td>
                <td>
                    <a href="{{ url_for('user_admin.edit', id=user.id) }}">编辑</a>
                    <a href="{{ url_for('user_admin.delete', id=user.id) }}" class="js-del-confirm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}