{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}管理后台{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='admin/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    {% include 'admin/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/left.html' %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% include 'common/flash.html' %}
                {% block inner_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='common/helper.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/helper.js') }}"></script>
{% endblock %}