{% extends 'admin/base.html' %}

{% block title %}
    {{ super() }}-问题管理
{% endblock %}

{% block inner_content %}
    <ul id="tab" class="nav nav-tabs">
        <li class="active"><a href="{{ url_for('exam_admin_question.index') }}">问题列表</a></li>
        <li><a href="{{ url_for('exam_admin_question.add') }}">添加问题</a></li>
    </ul>
    <table class="table table-hover">
        <thead>
        <tr>
            <th width="80">ID</th>
            <th>问题名称</th>
            <th width="120">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for question in categories %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.name }}</td>
                <td>
                    <a href="{{ url_for('exam_admin_question.edit', id=question.id) }}">编辑</a>
                    <a href="{{ url_for('exam_admin_question.delete', id=question.id) }}" class="js-del-confirm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}